$color-yellow: #FFD633
$color-accent: $color-yellow
$color-text-alt: #4D400F

$heading-font-family: "Plus Jakarta Sans", sans-serif
$body-font-family: $heading-font-family
$h1-size-desktop: pxToRem(64)

$header-background: $color-yellow
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(40)
$hero-background-color: $color-yellow
$footer-background-color: $color-yellow
$footer-logo-height-desktop: pxToRem(90)
