$color-yellow: #FFD633
$color-accent: $color-yellow

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: $color-yellow
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(40)
$hero-background-color: $color-yellow
$footer-background-color: $color-yellow
$footer-logo-height-desktop: pxToRem(40)
